/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

/* Colors */
$body-bg: #181818; /* Cor de fundo escura */
$body-color: #E0E0E0; /* Cor do texto clara */
$link-color: #75AADB; /* Cor dos links em azul claro */

/* Fonts */
$font-family-sans-serif: "Source Sans Pro", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-root: 17px;

/* Custom Bluesky Icon */
.custom-bluesky::before {
    content: url("images/bluesky.png");
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
